@import url(https://fonts.googleapis.com/css?family=Roboto);
html,
body {
    height: 100%;
    width: 100%;
}
a#menu img {
    width: 40px;
    fill: #000;
    cursor: pointer;
  }
.project-heading {
    text-align: center;
}
.btn-style {
    text-align: center;
    margin: 10px;
}
.btn-clr {
    background-color: blue;
    color: black;
}
.frm {
    text-align: center;
    color: black;
}
.input-clr {
    color: black;
}
.dark_blue {
    background-color: #2A457A;
    color: #efefef;
}
.light_blue {
    background-color: #099DD9;
}
nav,
main {
    box-sizing: border-box;
}
#hide-listings,
#show-listings {
    width: 48%;
}
#pano {
    width: 200px;
    height: 200px;
}
main {
    width: auto;
    height: auto;
    flex-grow: 1;

}
#map {
    width: 100%;
    height: 93%;
    flex-grow: 1;
}
ul li:hover {
    background: #4242f4;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
li {
    background-color: #68829e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 98%;
    margin: 5px;
}
body {
    font-family: 'Roboto', sans-serif;
}
/*
       * Off-canvas layout styles.
       */
/* Since we're mobile-first, by default, the drawer is hidden. */

nav {
    width: 600px;
    height: 100%;
    position: absolute;
    /* This trasform moves the drawer off canvas. */

    overflow: scroll;
}

/* If there is enough space (> 200px), we keep the drawer open all the time. */

@media (min-width: 200px) {
    /* We open the drawer. */

    nav {
        width: 300px;
        position: relative;
    }
    /* We use Flexbox on the parent. */

    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
    }
    #map {
        width: auto;
        flex-grow: 1;
    }
    .nav-map {
        width: auto;
        height: auto;
        /* Flex-grow streches the main content to fill all available space. */

        flex-grow: 1;
    }
    main {
        width: auto;
        /* Flex-grow streches the main content to fill all available space. */

        flex-grow: 1;
    }
}